html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "termina", sans-serif;
   font-style: normal;
   font-weight: 400;
   color:#425464;
   margin: 0;
   background: #F4F6F8;
 }

@media screen and (min-width: 768px) {
  .image-bg {
    background-image: url(../images/my-photo.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.site-bio {
  background-color: rgba(236, 238, 240, .5);
  color:#425464;
  padding: 30px 0;
}

.site-bio p {
  margin-top: 0;
  margin-left: 0;
  line-height: 1.4;
}

@media screen and (min-width: 600px) {
  .site-bio p {
    width: 50%;
  }
}

.site-bio p + p {
  margin-top: 22px;
}

 .bg img {
  display: none;
 }
 @media (min-width: 700px) {
 .bg img {
  display: block;
  opacity: .6;
  z-index: -1;
  padding-top: 40px;
  margin: 0;
  overflow: hidden;
  float: right;
  }
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "semplicita pro", Helvetica, Arial, sans-serif;
 }
 h1{
   letter-spacing: 5px;
   line-height: 70px;
   text-align: center;
   font-size: 30px;
 }
 h2 {
   font-size:16px;
   font-weight: normal;
   margin-bottom: 5px;
   margin: 0, auto;
 }
 p {
   font-family: "termina", Helvetica, Arial, sans-serif;
   margin: 0 auto;
   font-size:12px;
   line-height: 19px;
   font-weight: 100;
   margin-top: 80px;
  }
  A {
  color: #425464;
  text-decoration: none;
  font-size: 13px;
}
a:active {
  color: #42E8E3;
  text-decoration: underline;
}
a:hover {
  color: #42E8E3;
}
@media (min-width: 620px) {
  h2 {
     font-size:28px;
     font-weight: normal;
     margin-bottom: 5px;
   }
 }
 @media (min-width: 768px) {
   p {
     font-size:16px;
     line-height: 19px;
     font-weight: 100;
   }
 }
 header .site-logo img {
   max-width: 50%;
   max-height: auto;
   height: auto;
   align-self: flex-start;
   padding-left: 10px;
   padding-top: 20px;
}

@media (min-width: 580px) {
  header .site-logo img {
    max-width: 400%;
    max-height: auto;
    padding-left: 11px;
    padding-top: 0px;
  }
}
@media (min-width: 700px) {
  header .site-logo img {
    max-width: 400%;
    max-height: auto;
    padding-left: 20px;
    padding-top: 0px;
  }
}
@media (min-width: 850px) {
header .site-logo img {
  max-width: 400%;
  max-height: auto;
  padding-left: 55px;
  padding-top: 0px;
  }
}
p.bio{
margin-right: 55px;
margin-left: 55px;
padding-top: 0px;"
}
 /* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  position: relative;
}
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .one-fifth {
    width:96%;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    display: inline-table;
    }
  }
 @media (min-width: 992px) {
   .one-half {
     width:46%;
   }

   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     max-width: 1200px;
   }
   header nav ul {
  padding: 10px 15px;
  display: flex;
  float: right;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
@media (min-width: 639px){
  header nav ul {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
}
  header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
  }
.portfolio-links {
list-style: none;
display: flex;
}
.portfolio-links li {
margin: 0 20px;
font-size: 80%;
display: inline-table;
}
.portfolio-links li:last-child {
margin-right: 0;
}
@media (min-width: 700px) {
.portfolio-links {
  list-style: none;
  display: flex;
  max-height: 100%;
}
}
@media (min-width: 700px) {
  .portfolio-links li {
  margin: 0 20px;
  max-height: 100%;
}
}
@media (min-width: 700px) {
.portfolio-links li:last-child {
  margin-right: 0;
  max-height: 100%;
}
}

   .portfolio .title .portfolio-links {
      text-align: center;
      display:block;
      position: relative;
    }
  }

    .portfolio .title .portfolio-links h1 {
      font-size:32px;
      font-weight: normal;
      margin:95px 0 0;
    }
    @media (min-width: 620px) {
    .portfolio .title .portfolio-links h1 {
      font-size:48px;
      font-weight: normal;
      margin:95px 0 0;
    }
   }
    .portfolio .title .portfolio-links p {
      font-size: 18px;
      line-height: 26px;
      font-weight: 100;
      margin:10px 0 40px;
    }
      @media (min-width: 620px) {
      .portfolio .title .portfolio-links p {
       font-size: 22px;
       line-height: 26px;
       font-weight: 100;
       margin:10px 0 40px;
      }
    }
    .portfolio .title .portfolio-links img {
      max-width: 100%;
      height: auto;
      Margin: 3em auto 0;
      display: block;
      margin-bottom: -.5px;
    }
     @media (min-width: 320px) {
      .portfolio .title .portfolio-links img {
        max-width: 100%;
        height: auto;
        Margin: 3em auto 0;
        display: block;
        margin-bottom: -2.5px;
      }
    }
    @media (min-width: 620px) {
      .portfolio .title .portfolio-links img {
        display:block;
        margin:3em auto 0;
        margin-bottom: -4px;
      }
    }

  /*header*/
  .portfolio-links {
    float: right;
}
  .portfolio-links li {
  margin: 0 20px;
  font-size: 80%;
  display: inline-table;
}
.portfolio-links li:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  .portfolio-links {
    list-style: none;
    display: flex;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
    .portfolio-links li {
    margin: 0 20px;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
  .portfolio-links li:last-child {
    margin-right: 0;
    max-height: 100%;
  }
  .five-step {
     overflow: hidden;
  }
  .site-logo {
    margin-top: 0px;
    position: relative;
    margin: 0px 15px 15px 10px;
  }
}
@media (min-width: 400px) {
.site-logo {
  margin-top: 0px;
  }
}
  header .hero {
   text-align: left;
   display:block;
   position: fixed;
 }
 /* HEADER */

  }
  header nav {
    padding:1em 0;
    position: fixed;
    z-index: 60;
  }
  .header {
    display: inline-block;
    justify-content:center;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    z-index: 60;
    background-color: #EDEEF1;
  }

  @media (min-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    z-index: 60;
    background-color: #EDEEF1;
  }
}
  .one-fifth {
    max-width: 34%;
  }
  header nav ul {
  padding: 10px 15px;
  display: inline-grid;
  float: left;
  max-width: 500px;
  margin: 0 auto;
  font-size: 9px;
  align-items: center;
  z-index: 100;
  letter-spacing: 1px;
  line-height: 18px;
  }
@media (min-width: 850px){
  header nav ul {
  float: right;
  padding: 10px 10px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  z-index: 100;
  display: inline-flex;
  }
}
  header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
    position: relative;
    z-index: 100;
  }

 /* Bio */

 }
  .container-hero.hero {
    display: flex;
    justify-content: space-between;
    max-width: inherit;
  }

  .container-hero p {
    position:relative;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    max-height: 216;
  }

  @media (min-width: 700px) {
  .container-hero.hero p {
  position:absolute;
  line-height: 12px;
  font-size: 8px;
  line-height: 18px;
  margin-top: 730px;
  padding-top: 50px;
  }
}
@media (min-width: 700px) {
.container-hero.hero p {
margin-top: 150px;
margin-right: auto;
margin-left: auto;
  }
}
@media (min-width: 752px) {
.container-hero.hero p {
margin-top: 200px;
margin-right: auto;
margin-left: auto;
  }
}
@media (min-width: 556px) {
.container-hero.hero p {
  line-height: 12px;
 font-size: 9px;
 line-height: 18px;
  }
}
  @media (min-width: 670px) {
  .container-hero.hero p {
    line-height: 15px;
   font-size: 9px;
   line-height: 18px;
  }
}
  @media (min-width: 615px) {
  .container-hero.hero p {
    line-height: 15px;
   font-size: 9px;
   line-height: 18px;
  }
}
@media (min-width: 672px) {
.container-hero.hero p {
  line-height: 16px;
 font-size: 11px;
 line-height: 18px;
}
}
  @media (min-width: 725px) {
  .container-hero.hero p {
    line-height: 15px;
   font-size: 11px;
   line-height: 18px;
  }
}

@media (min-width: 754px) {
.container-hero.hero p {
  line-height: 15px;
 font-size: 11px;
 line-height: 18px;
  }
}
@media (min-width: 791px) {
.container-hero.hero p {
  line-height: 15px;
 font-size: 11px;
 line-height: 20px;
  }
}
@media (min-width: 950px) {
.container-hero.hero p {
  line-height: 15px;
 font-size: 11px;
 line-height: 20px;
  }
}
@media (min-width: 962px) {
.container-hero.hero p {
  line-height: 15px;
 font-size: 11px;
 line-height: 22px;
  }
}
  @media (min-width: 1003px) {
  .container-hero.hero p {
    line-height: 15px;
   font-size: 11px;
   line-height: 24px;
  }
}
@media (min-width: 1086px) {
.container-hero.hero p {
  line-height: 15px;
 font-size: 12px;
 line-height: 24px;
  }
}
@media (min-width: 1250px) {
.container-hero.hero p {
 font-size: 14px;
 line-height: 24px;
  }
}

  .animated.fadeIn {
    margin-top: 200px;
    position: inherit;
  }
  @media (min-width: 700px) {
  .animated.fadeIn {
    margin-top: 350px;
    position: inherit;
  }
}
p.animated.fadeIn {
  margin-top: 0px;
  position: inherit;
}
@media (min-width: 700px) {
p.animated.fadeIn {
  margin-top: 350;
  }
}
  @media (max-width: 1074px) {
    .animated.fadeIn {
      font-size: 20px;
    }
  }
}
@media (max-width: 917px) {
  .animated.fadeIn {
    font-size: 18px;
  }
}
  @media (max-width: 885px) {
    .animated.fadeIn {
      font-size: 14px;
    }
  }

  @media (max-width: 445px) {
    .animated.fadeIn {
      margin-left:0 ;
      margin-top: 250px;
      position: inherit;
      font-size: 16px;
    }
  }
  @media (max-width: 580px) {
    .animated.fadeIn {
      margin-left:0 ;
      margin-top: 250px;
      position: inherit;
    }
  }

  /*Drawings*/
  .drawing-link {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  padding:4em 0;
  display: inline-block;
  max-height: 320px;
}
.drawing5{
  display: none;
  }
  @media (min-width: 1200px) {
  .drawing5{
    display: inline-block;
    }
  }
  .drawing4{
    display: none;
  }
  @media (min-width: 464px) {
  .drawing4{
    display: inline-block;
    }
  }
  @media (min-width: 768px) {
  .drawing4{
    display: none;
    }
  }
  @media (min-width: 992px) {
  .drawing4{
    display: inline-block;
    }
  }

/* portfolio */

.portfolio {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
}

.portfolio li:nth-child(1) {
  grid-column: span 5;
}

.portfolio li:nth-child(2) {
  grid-column: span 3;
}

.portfolio li:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}

.portfolio li:nth-child(4) {
  grid-column: span 2;
}

.portfolio li:nth-child(5) {
  grid-column: span 1;
}

.portfolio a {
  display: inline-block;
}

.portfolio img {
  max-width: 100%;
}



.title p{
  display: inline-block;
  font-weight: normal;
  margin: 0 auto;
  padding-bottom: 30px;
}
.title a{
  margin-left: 20px;
}
.title h1{
  padding-top: 50px;
}
.title {
  padding-top: 50px;
  text-align: center;
}
/* FOOTER */
 footer {
   max-width: 1450px;
   margin: 0 auto;
   background-color: #EDEEF1;
   box-shadow: 0px 2px 4px 0px #DBDADA;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   }
   @media (min-width: 460px) {
      footer {
      color: #425464;
      height: 100px;
      position: relative;
      overflow: hidden;
      z-index: 0;
   }
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#425464;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }

 @media (min-width: 992px){
   footer{
     height: 80px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: center;
   }
   footer .right-footer-block {
     background-color: #;
   }
 }
 p.copyright-block {
   font-size: 12px;
 }
 @media (max-width: 500px){
 p.copyright-block {
   font-size: 10px;
  }
 }
