html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "termina", sans-serif;
   font-style: normal;
   font-weight: 400;
   color:#425464;
   margin: 0;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "semplicita pro", Helvetica, Arial, sans-serif;
 }
 h1{
   letter-spacing: 5px;
   line-height: 70px;
   text-align: center;
   font-size: 30px;
 }
 h2 {
   font-size:16px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-family: "termina", Helvetica, Arial, sans-serif;
   font-size:12px;
   line-height: 19px;
   font-weight: 100;
   margin-top: 80px;
  }
  A {
  color: #425464;
  text-decoration: none;
}
a:active {
  color: #42E8E3;
  text-decoration: underline;
}
a:hover {
  color: #42E8E3;
}
@media (min-width: 620px) {
  h2 {
     font-size:28px;
     font-weight: normal;
     margin-bottom: 5px;
   }
 }
 @media (min-width: 768px) {
   p {
     font-size:16px;
     line-height: 19px;
     font-weight: 100;
   }
 }
 /* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .one-fifth {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    display: inline-table;
    }
  }
  @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }

   .portfolio .title .portfolio-links {
      text-align: center;
      display:block;
      position: relative;
    }
       header .site-logo img {
         max-width: 100%;
         height: auto;
         align-self: flex-start;
     }
    }
    .portfolio .title .portfolio-links h1 {
      font-size:32px;
      font-weight: normal;
      margin:95px 0 0;
    }
    @media (min-width: 620px) {
    .portfolio .title .portfolio-links h1 {
      font-size:48px;
      font-weight: normal;
      margin:95px 0 0;
    }
   }
    .portfolio .title .portfolio-links p {
      font-size: 18px;
      line-height: 26px;
      font-weight: 100;
      margin:10px 0 40px;
    }
      @media (min-width: 620px) {
      .portfolio .title .portfolio-links p {
       font-size: 22px;
       line-height: 26px;
       font-weight: 100;
       margin:10px 0 40px;
      }
    }
    .portfolio .title .portfolio-links img {
      max-width: 100%;
      height: auto;
      Margin: 3em auto 0;
      display: block;
      margin-bottom: -.5px;
    }
     @media (min-width: 320px) {
      .portfolio .title .portfolio-links img {
        max-width: 100%;
        height: auto;
        Margin: 3em auto 0;
        display: block;
        margin-bottom: -2.5px;
      }
    }
    @media (min-width: 620px) {
      .portfolio .title .portfolio-links img {
        display:block;
        margin:3em auto 0;
        margin-bottom: -4px;
      }
    }


  /*header*/
  .portfolio-links {
    list-style: none;
    display: flex;
    float: right;
}
  .portfolio-links li {
  margin: 0 20px;
  font-size: 80%;
  display: inline-table;
}
.portfolio-links li:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  .portfolio-links {
    list-style: none;
    display: flex;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
    .portfolio-links li {
    margin: 0 20px;
    max-height: 100%;
  }
}
@media (min-width: 700px) {
  .portfolio-links li:last-child {
    margin-right: 0;
    max-height: 100%;
  }
  .five-step {
     overflow: hidden;
  }
  .site-logo {
    margin-top: 30px;
    position: relative;
    margin: 10px 15px 15px 10px;
  }
}
  header .hero {
   text-align: left;
   display:block;
   position: relative;
   clear:both;
 }
 /* HEADER */
  header {
    background: #EDEEF1;
   box-shadow: 0px 2px 4px 0px #DBDADA;
  }
  header nav {
    padding:1em 0;
  }
  #body_div {
  top: 0;
  position: relative;
  height: 200px;
  background-color: green;
}

#banner {
  width: 100%;
  height: 273px;
  background-color: gray;
  overflow: hidden;
}

#nav_bar {
  border: 0;
  background-color: #EDEEF1;
  border-radius: 0px;
  margin-bottom: 0;
  height: 30px;
}
  .header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  }
  .one-fifth {
    max-width: 34%;
  }
  header nav ul {
  padding: 10px 15px;
  display: flex;
  float: right;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
@media (min-width: 639px){
  header nav ul {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
}
  header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
  }
 /*hero*/
 .my-photo {
     float:right;
     clear:both;
     margin-top: -40px;
     opacity: .6;
 }
 .container-hero p {
   position:absolute;
   clear:both;
   margin-top: 660px;
   padding-top: 30px;
   padding-bottom: 30px;
   max-height: 216;
   background: rgba(236, 238, 240, 0.5);
 }
 /* body */
  body {
    background: #F4F6F8;
  }
  .container-hero.hero {
    display: flex;
    justify-content: space-between;
    max-width: inherit;
  }
  .container-hero.hero p {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 15px;
    font-size: 8px;
  }
  @media (min-width: 480px) {
  .container-hero.hero p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 12px;
   font-size: 8px;
   line-height: 18px;
  }
}
@media (min-width: 556px) {
.container-hero.hero p {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 12px;
 font-size: 9px;
 line-height: 18px;
}
}
  @media (min-width: 670px) {
  .container-hero.hero p {
    padding-left: 55px;
    padding-right: 55px;
    line-height: 15px;
   font-size: 9px;
   line-height: 18px;
  }
}
  @media (min-width: 615px) {
  .container-hero.hero p {
    padding-left: 55px;
    padding-right: 55px;
    line-height: 15px;
   font-size: 9px;
   line-height: 18px;
  }
}
@media (min-width: 672px) {
.container-hero.hero p {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 16px;
 font-size: 11px;
 line-height: 18px;
}
}
  @media (min-width: 725px) {
  .container-hero.hero p {
    padding-left: 55px;
    padding-right: 55px;
    line-height: 15px;
   font-size: 11px;
   line-height: 18px;
  }
}

@media (min-width: 754px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 11px;
 line-height: 18px;
  }
}
@media (min-width: 791px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 11px;
 line-height: 20px;
  }
}
@media (min-width: 950px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 11px;
 line-height: 20px;
  }
}
@media (min-width: 962px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 11px;
 line-height: 22px;
  }
}
  @media (min-width: 1003px) {
  .container-hero.hero p {
    padding-left: 55px;
    padding-right: 55px;
    line-height: 15px;
   font-size: 11px;
   line-height: 24px;
  }
}
@media (min-width: 1086px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 12px;
 line-height: 24px;
  }
}
@media (min-width: 1250px) {
.container-hero.hero p {
  padding-left: 55px;
  padding-right: 55px;
  line-height: 15px;
 font-size: 14px;
 line-height: 24px;
  }
}

  .animated.fadeIn {
    margin-left: 55px;
    margin-top: 250px;
    padding-left: 15px;
    position: relative;
  }

   /* portfolio */
.portfolio {

   }
.portfolio h1 {
  margin: 0;

}
.title {
  max-width: 355px ;
}
.title p .portfolio-link a {
  display: flex;
  margin: auto;
}
.title p {
  margin: 0;
  display: inline-table;
  text-align: center;
}
